/* 
the hottest pink: rgb(254	48 216)
tasteful neon green: rgb(164	237	99)
harvest orange: rgb(252	128	41)
brilliant indigo: rgb(33 64 194) 
*/

.post-form {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  align-items: center;
  justify-content: center;
}


input,
textarea {
  width: 30vw;
  margin: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgba(164,237,99,.4);
color: rgb(33 64 194);
border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}