.post-form {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}


input,
textarea {
  max-width: 60vw;
  margin: 15px;
  border-radius: 4px;
}