.post{
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 8px;
  padding: 8px;
  white-space: pre-wrap;
}

.post-image{
  height: 200px;
  width: 200px;
  border: 4px solid rgb(33, 64 ,194);
  object-fit: cover;
  object-position: 50% 0;
}


.post a{
  text-decoration: none;
}